{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Violation</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ entity.message }}</td>
            </tr>
            <tr>
                <th>Resource</th>
                <td>{{ entity.resource }}</td>
            </tr>
            <tr>
                <th>Line</th>
                <td>{{ entity.line }}</td>
            </tr>
            <tr>
                <th>Severity</th>
                <td>{{ entity.severity }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ entity.category }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('violation') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('violation_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
